/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/theme
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.editorconfig
.env.example.
.gitattributes
.styleci.yml
/bootstrap
.idea
/storage
/public/theme
/public/images
/public/.htaccess
/public/js/app.js
/public/js/dropify-init.js
/public/js/steps.js
/public/css
/public/index.php
/public/mix-manifest.json
/public/robots.txt
/public/web.config
/public/favicon.ico
composer.json
composer.lock
.gitignore
composer.json